*{
   padding: 0;
   margin: 0;
}
.container{
     display: flex;
     justify-content: space-around;
     background-color: rgb(74, 109, 85);
     
}
.img{
    height: 170px;
    border-radius: 10px;
}
.inputs{
    display:flex;
    flex-direction: column; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

.inputs a {
    margin: 10px 0px;
    text-decoration: none;
    color:#fff;
    font-size: 15px;
}
.btn{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(8, 48, 16);
    color: bisque;
    margin-top: 50px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}